@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
  --clr-tienda:  #046dd5;
  --clr-main: #d8eecdc3;
  --clr-main-light: #a4eac7;
  --clr-dark:  #161b21;
  --clr-white: #ececec;
  --clr-gray: #e2e2e2;
  --clr-red: #961818;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  font-size: 'Rubik', sans-serif;
}

a {
  display: inline-block;
  list-style: none;
  text-decoration: none;
}

li {
  display: inline-block;
  font-style: none;
  list-style: none;
  text-decoration: none;
}
/* TIENDA CON EL CARRITO */

.wrapper {
  display: grid;
  grid-template-columns: 1 fr 4fr;
  background-color: var(--clr-main);
}
aside{
  padding: 2rem;
  color: var(--clr-tienda);
  align-items: center;
  position: static;
  top: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-tienda{
  font-weight: 400;
  font-size: 3rem;
}
.boton-carrito,
.boton-volver{
  font-family: 'Rubik', sans-serif;
}
.boton-menu{
  background-color: transparent;
  margin: .5rem;
  border: 0;
  color: var(--clr-dark);
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: .5rem;
  font-weight: 600;
  padding: .5rem;
  font-size: 0.85rem;
}
.boton-menu.active{
  background-color: var(--clr-white);
  color: var(--clr-dark);
  width: 100%; 
  border-radius: 1rem;
}
.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb {
  transform: rotateZ(90deg);
}
.boton-carrito{
  margin-left: 300px;
}

.numerito {
  background-color: var(--clr-dark);
  color: var(--clr-white);
  padding:  .25rem .75rem;
  border-radius: .25rem;
}

.tienda-carrito{
  font-family: 'Rubik', sans-serif;
  background-color: var(--clr-white);
  margin-top: 1rem;
  margin: 1rem;
  margin-left: 0;
  border-radius: 2rem;
  padding: 3rem;
}

.titulo-principal {
  margin-bottom: 2rem;
  color: var(--clr-dark);
}
.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 5rem;
}
.producto-imagen{
  border-radius: 10%;
  max-width: 100%;  
  height: 50vh;
}

.producto-detalles {
  font-family: 'Rubik', sans-serif;
  background-color: var(--clr-main);
  padding: 1.5 rem;
  margin-top: -1.5rem;
  border-radius: 1rem;
  position: relative;
}

.producto-titulo {
  font-size: 1.2rem;
}
.producto-agregar {
  border: 0;
  background-color: var(--clr-dark);
  color: var(--clr-white);  
  border-radius: 1rem;
  width:  100%;
  padding: .4rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
  background-color: var(--clr-white);
  color: var(--clr-dark);
}

/** CARRITO **/

.logo-carrito{
  font-weight: 400;
  font-size:2.5rem;
}

.contenedor-carrito {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado{
  
}
.carrito-productos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-gray);
  color: var(--clr-dark);
  padding: .5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
}

.carrito-producto-imagen {
  height: fit-content;
  width: 10%;
  border-radius: 1rem;
}

.carrito-producto small {
  font-size: .75rem;
}

.carrito-producto-eliminar{
  cursor: pointer;
  border: 0;
  background-color: transparent;
  color: var(--clr-red);
}

.carrito-acciones {
  display: flex;
  justify-content: space-between;
}

.carrito-acciones-vaciar {
  cursor: pointer;
  border: 0;
  background-color: var(--clr-gray);
  padding: 1rem;
  border-radius: 1rem;
  text-transform: uppercase;
}

.carrito-acciones-derecha {
  display: flex;
}

.carrito-acciones-total{
  display: flex;
  background-color: var(--clr-gray);
  padding: 1rem;
  text-transform: uppercase;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  gap: 1rem;
}

.carrito-acciones-comprar {
  cursor: pointer;
  border: 0;
  background-color: var(--clr-dark);
  color: var(--clr-white);
  padding: 1rem;
  text-transform: uppercase;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.disabled{
  display: none;
}

header {
  width: 100%;
  font-family: "Kanit", sans-serif;
  text-align: center;
  backdrop-filter: blur(0.2rem);
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav img {
  width: 4%;
}
header nav ul li a {
  font-size: 20px;
  margin-left: 10px;
  color: rgb(0, 0, 0);
  transition: 0.5s;
  margin-inline: 20px;
}

#navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#navBar ul a:hover {
  color: rgb(138, 43, 226);
  font-size: 25px;
  transition: 0.5s;
}

#banner {
  display: flex;
  background-image: url(../images/Banner_4.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  align-items: center;
}
#banner .banner__titulo {
  margin-top: 40px;
  gap: 50px;
  width: 50%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
#banner .banner__titulo .banner-titulo__h2 {
  font-size: 21px;
  font-family: "Rethink Sans", sans-serif;
}
#banner .banner__titulo .banner__parrafo {
  font-size: 21px;
  font-family: "Rethink Sans", sans-serif;
}
#banner .banner__titulo .banner__boton {
  font-size: 21px;
  font-family: "Rethink Sans", sans-serif;
}
#banner .banner__titulo .banner__boton {
  width: 130px;
  height: 50px;
  background-color: rgb(255, 166, 0);
  border-radius: 20px;
}
#banner .bienvenidos {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 50px 50px;
  width: 50%;
  height: 100vh;
  backdrop-filter: blur(0.4rem);
  border-radius: 100px;
}
#banner .bienvenidos h2 {
  color: rgba(3, 3, 228, 0.682);
  font-size: 100px;
  font-family: "Dosis", sans-serif;
}
#banner .bienvenidos h3 {
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-family: "Dosis", sans-serif;
}

#servicios {
  display: flex;
  background-color: rgba(86, 83, 83, 0.567);
  justify-content: center;
  flex-direction: column;
}
#servicios h2 {
  font-size: 30px;
  text-align: center;
  color: rgba(11, 10, 10, 0.742);
  font-family: "Archivo", sans-serif;
}
#servicios img {
  width: 50px;
  height: 50px;
}
#servicios article {
  box-shadow: 10px 10px rgba(0, 0, 0, 0.421);
  width: 130px;
  height: 130px;
  background-color: rgb(255, 255, 255);
  margin: 20px;
  border-radius: 30px;
  text-align: center;
  padding-top: 10px;
}

.serviciosBox {
  display: flex;
  justify-content: center;
  gap: 60px;
}
.serviciosBox article h3 {
  font-family: "Chivo Mono", monospace;
  font-size: 26px;
}

#historia {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin: 30px;
}
#historia .historiaIMG img {
  box-shadow: 10px 10px rgba(0, 0, 0, 0.384);
  border: solid rgba(0, 0, 0, 0.875);
  border-width: 2px;
  width: 85%;
  height: 400px;
}
#historia .nuestraHistoria {
  font-size: 20px;
  width: 500px;
  margin: 20px;
  line-height: 1.5;
}

.nuestraHistoria h2 {
  font-family: "Rethink Sans", sans-serif;
  color: rgb(37, 37, 219);
}
.nuestraHistoria h4 {
  font-family: "Abel", sans-serif;
}

p {
  font-family: "Abel", sans-serif;
}

#footer {
  margin-top: auto;
  width: 100%;
  height: 150px;
  background-color: rgb(143, 188, 143);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
}

.footerLogo {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  border-radius: 15%;
}
.footerLogo img {
  filter: drop-shadow(30px 10px 4px rgb(68, 68, 221));
}

.footerRedes {
  margin-inline: 5px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.footer__links ul {
  font-size: 22px;
  font-family: "Abel", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(0, 0, 0);
}
.footer__links ul li:nth-child(3) a:active {
  color: rgb(138, 43, 226);
}

.footerContainer__redes {
  display: flex;
  align-items: center;
}

@media (max-width: 320px) {
  #navBar {
    flex-direction: column;
  }
  #navBar ul {
    display: flex;
    flex-direction: column;
  }
  header nav img {
    width: 15%;
    padding: 10px;
  }
  #historia {
    flex-direction: column;
  }
  #banner {
    height: auto;
    flex-direction: column;
  }
  #banner .bienvenidos {
    width: fit-content;
    height: auto;
    padding: 20px;
    border-radius: 10px;
  }
  #banner .bienvenidos h2 {
    font-size: 50px;
  }
  #banner .bienvenidos h3 {
    font-size: 19px;
  }
  #acercaDe {
    padding: 0 10px;
    padding-bottom: 10px;
    font-size: 12px;
  }
  #acercaDe h3 {
    margin-top: 15px;
  }
  #acercaDe p {
    margin-right: 30px;
  }
  #acercaDe img {
    width: fit-content;
    margin: 5px;
  }
  #acercaDe .acercaDe__contenedor {
    margin-bottom: 0px;
    margin-left: 0px;
    width: fit-content;
    height: 90px;
  }
  #contacto_2 {
    flex-direction: column;
    align-items: stretch;
  }
  #contacto_2 img {
    display: flex;
    margin-left: 42%;
    width: 17%;
  }
  #contacto_2 p {
    text-align: center;
    font-size: 20px;
    margin-left: 0px;
  }
  #contacto_2 .mapa {
    margin-left: 10px;
    display: flex;
    position: relative;
    width: 150px;
    height: auto;
  }
  #titulo_ciats h1 {
    margin-left: 93px;
  }
  #content {
    flex-direction: column;
  }
  #content .ciats h2 {
    padding-top: 20px;
    text-align: center;
    font-size: 35px;
    margin: 0px;
  }
  #content .ciats p {
    font-size: 20px;
    margin: 0px;
    text-align: center;
  }
  #content .contact-wrapper {
    margin-right: 5px;
  }
  #content .contact-form {
    margin-left: 5px;
    width: fit-content;
    height: fit-content;
  }
  #containerGridCalafate2 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 200px);
    grid-template-areas: "imgCalafate_1" "imgCalafate_2" "imgCalafate_3" "imgCalafate_4" "imgCalafate_5" "imgCalafate_6" "imgCalafate_7" "imgCalafate_8";
  }
  #containerGridCalafate2 .tamañoBox2 img {
    max-width: 100%;
  }
  #containerGridCalafate2 .tamañoBox2 h2 {
    font-size: 13px;
  }
  #containerGridCalafate2 .tamañoBox2 h3 {
    font-size: 10px;
  }
  #footer {
    padding-top: 10px;
    flex-direction: column;
    height: fit-content;
    gap: 10px;
  }
  .footerLogo {
    width: 65px;
    height: 65px;
    flex-direction: column;
  }
  .footer__links ul li a {
    padding-right: 9px;
    font-size: 20px;
    flex-direction: column;
  }
  .footerRedes {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
  }
}
@media (max-width: 768px) {
  #iniciosGRID {
    display: flex;
    font-size: 10px;
  }
  .iniciosIMG1 img {
    height: 500px;
    width: 400px;
    margin-top: 190px;
  }
  .tamañoBox2 {
    margin-bottom: 55px;
  }
  .tamañoBox2 img {
    flex-direction: column;
    max-width: 50%;
  }
  #containerGridCalafate2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 200px);
    grid-template-areas: "imgCalafate_1 imgCalafate_2" "imgCalafate_3 imgCalafate_4" "imgCalafate_5 imgCalafate_6" "imgCalafate_7 imgCalafate_8";
  }
  .footerLogo {
    width: 60px;
    height: 60px;
  }
  .footerRedes {
    width: 40px;
    height: 40px;
    gap: 10px;
  }
  .footer__links ul li a {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  #iniciosGRID {
    flex-direction: column;
    gap: 10px;
  }
  .iniciosIMG1 img {
    margin-top: 10px;
  }
  .tamañoBox2 {
    margin-bottom: 27px;
  }
  #footer {
    padding-top: 10px;
    flex-direction: column;
    height: auto;
    gap: 10px;
  }
  .footerLogo {
    width: 65px;
    height: 65px;
    flex-direction: column;
  }
  .footer__links ul li a {
    padding-right: 9px;
    font-size: 20px;
    flex-direction: column;
  }
  .footerRedes {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
  }
}
#tituloTienda h1 {
  color: rgba(0, 79, 191, 0.84);
  margin-top: 10px;
  font-size: 55px;
  text-align: center;
  font-family: "Abel", sans-serif;
}

#containerGridCalafate2 {
  background-color: rgb(244, 244, 244);
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "imgCalafate_1 imgCalafate_2 imgCalafate_3 imgCalafate_4" "imgCalafate_5 imgCalafate_6 imgCalafate_7 imgCalafate_8";
}

.tamañoBox2 {
  position: relative;
}
.tamañoBox2 h2 {
  position: absolute;
  font-size: 23px;
  margin-left: 23px;
  font-family: "Abel", sans-serif;
}
.tamañoBox2 h3 {
  margin-top: 40px;
  font-size: 15px;
  margin-left: 23px;
  color: rgba(0, 79, 191, 0.84);
  font-family: "Abel", sans-serif;
}
.tamañoBox2 img {
  border-radius: 15%;
  width: 80%;
  height: 80%;
  padding: 20px;
}

.imgCalafate_1 {
  grid-area: imgCalafate_1;
}

.imgCalafate_2 {
  grid-area: imgCalafate_2;
}

.imgCalafate_3 {
  grid-area: imgCalafate_3;
}

.imgCalafate_4 {
  grid-area: imgCalafate_4;
}

.imgCalafate_5 {
  grid-area: imgCalafate_5;
}

.imgCalafate_6 {
  grid-area: imgCalafate_6;
}

.imgCalafate_7 {
  grid-area: imgCalafate_7;
}

.imgCalafate_8 {
  grid-area: imgCalafate_8;
}

#citas_fondo {
  background-color: rgba(235, 240, 240, 0.874);
}

#content {
  display: flex;
  justify-content: space-between;
}
#content h2 {
  font-family: "Rethink Sans", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 34px;
  margin-top: 60px;
  margin-left: 77px;
}
#content .horarios_atencion {
  margin-left: 75px;
  font-size: 30px;
  line-height: 70px;
  margin-top: 50px;
  text-align: center;
}

#titulo_ciats h1 {
  margin-right: 100px;
  margin-top: 10px;
  font-size: 55px;
  text-align: center;
  font-family: "Abel", sans-serif;
  color: rgba(0, 79, 191, 0.84);
}

.contact-wrapper {
  margin-top: 23px;
  margin-right: 45px;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}
.contact-wrapper h3 {
  font-family: "Rethink Sans", sans-serif;
  text-align: center;
}
.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  width: 710px;
  height: 500px;
  background: rgba(255, 255, 255, 0.3);
}
.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.contact-form form label {
  display: block;
}
.contact-form form p {
  margin: 0;
  padding: 1em;
}
.contact-form form .block {
  grid-column: 1/4;
}
.contact-form form button {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #000000;
  border-bottom: 1px solid #000000;
  background: rgba(255, 255, 255, 0.3);
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}
.contact-form form button:hover {
  background: #000000;
  color: #ffffff;
  transition: background-color 1s ease-out;
  outline: 0;
}
.contact-form form button:focus {
  background: #000000;
  color: #ffffff;
  transition: background-color 1s ease-out;
  outline: 0;
}
.contact-form form input {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #000000;
  border-bottom: 1px solid #000000;
}
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #000000;
  border-bottom: 1px solid #000000;
  resize: none;
}

#contacto_2 {
  display: flex;
  gap: 20px;
}
#contacto_2 .mapa iframe {
  width: 650px;
  height: 440px;
  margin-top: 50px;
  margin-bottom: 40px;
}

#contacto h1 {
  color: rgba(0, 79, 191, 0.84);
  margin-top: 20px;
  font-size: 55px;
  text-align: center;
  font-family: "Abel", sans-serif;
}

.contacto_Box img {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 50%;
  width: 12%;
}
.contacto_Box .contacto_Ubi .calle {
  font-size: 23px;
  margin-left: 110px;
}
.contacto_Box .contacto_Mail .mail {
  font-size: 23px;
  margin-left: 250px;
}
.contacto_Box .contacto_Cell .celular {
  font-size: 23px;
  margin-left: 320px;
}
.contacto_Box .contacto_Web .web {
  font-size: 23px;
  margin-left: 275px;
  margin-bottom: 20px;
}

#main h1 {
  color: rgba(0, 79, 191, 0.84);
  margin-top: 20px;
  font-size: 55px;
  text-align: center;
  font-family: "Abel", sans-serif;
}

.acercaDe__contenedor {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 25%;
  width: 50%;
  height: 80px;
  justify-content: center;
  background-color: rgba(226, 204, 134, 0.833);
  border-radius: 15px;
  display: flex;
}
.acercaDe__contenedor h3 {
  font-family: "Rethink Sans", sans-serif;
  margin-top: 22px;
  margin-left: 15px;
}
.acercaDe__contenedor p {
  margin-left: 15px;
}
.acercaDe__contenedor img {
  width: 10%;
}

/*# sourceMappingURL=style.css.map */
