@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

a, li {
  display: inline-block;
  font-style: none;
  list-style: none;
  text-decoration: none;
}

main {
  padding-top: 70px;
  min-height: 100vh;
}

header {
  height: 70px;
  width: 100%;
  text-align: center;
  background-color: bisque;
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav img {
  width: 4%;
}

header nav ul li a {
  font-size: 20px;
  margin-left: 10px;
  color: black;
  transition: 0.5s;
}

#navBar {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#navBar ul a:hover {
  color: blueviolet;
  font-size: 25px;
  transition: 0.5s;
}

#banner {
  position: relative;
  width: 100%;
  height: auto;
}

#banner img {
  position: relative;
  width: 100%;
  height: 100vh;
}

#banner .banner__contenido {
  position: absolute;
  top: 0;
  width: 400px;
  text-align: center;
}

.banner__titulo,
.banner__parrafo,
.banner__boton {
  margin-top: 20px;
}

.banner_titulo h2 {
  margin-top: 20px;
  text-size-adjust: 100;
  font-size: 30px;
}

.banner__boton a {
  width: 100px;
  height: 40px;
  background-color: orange;
  border-radius: 20px;
}

#servicios {
  display: flex;
  background-color: grey;
  justify-content: center;
  flex-direction: column;
}

#servicios h2 {
  text-align: center;
}

#servicios img {
  width: 45px;
  height: 45px;
}

.serviciosBox {
  display: flex;
  justify-content: center;
}

#servicios .serviciosBox article {
  width: 120px;
  height: 120px;
  background-color: white;
  margin: 20px;
  border-radius: 30px;
  text-align: center;
  padding-top: 10px;
}

form {
  width: 100%;
  height: auto;
  background-color: blueviolet;
}

.Inicios_1 h1 {
  color: rgba(21, 97, 203, 0.84);
  text-align: center;
}

.Inicios_1 .Inicios_Contenido {
  display: flex;
  height: 150px;
  height: 150px;
  font-size: 17px;
  margin-left: 7px;
  text-align: auto;
  justify-content: center;
}

#GRIDinicios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "GRIDiniciosIMG2 GRIDiniciosIMG1" "GRIDiniciosIMG2 GRIDiniciosIMG1";
}

.tamañoInicios1 img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.tamañoInicios2 img {
  border-radius: 10%;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.containerParrafo .Hola{
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 20px;
  padding-top: 50px;
  margin: 35px;
  justify-content: center;
}

.containerParrafo .contenido1{
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 16px;
  padding-top: 50px;
  margin: 35px;
  justify-content: center;
}
.GRIDiniciosIMG1 {
  position: relative;
  grid-area: GRIDiniciosIMG1;
}

.GRIDiniciosIMG2 {
  position: relative;
  grid-area: GRIDiniciosIMG2;
}
#tituloTienda h1 {
  text-align: center;
  color: rgba(21, 97, 203, 0.84);
}

#containerGridCalafate2 {
  background-color: rgb(244, 244, 244);
  padding-top: 10px;
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  gap: 0px; 
  grid-template-areas: 
    "ImgCalafate_1 ImgCalafate_2 ImgCalafate_3 ImgCalafate_4"
    "ImgCalafate_5 ImgCalafate_6 ImgCalafate_7 ImgCalafate_8"; 
}

.tamañoBox2 {

  position: relative;
}

.tamañoBox2 h1 {
  position: absolute;
  font-size: 17px;
  margin-left: 23px;
}
.tamañoBox2 h2 {
  margin-top: 40px;
  position: absolute;
  font-size: 12px;
  margin-left: 23px;
}

.tamañoBox2 img {
  border-radius: 15%;
  width: 80%;
  height: 80%;
  padding: 20px;
}

.ImgCalafate_1 {
  grid-area: ImgCalafate_1;
}

.ImgCalafate_2 {
  grid-area: ImgCalafate_2;
}

.ImgCalafate_3 {
  grid-area: ImgCalafate_3;
}

.ImgCalafate_4 {
  grid-area: ImgCalafate_4;
}

.ImgCalafate_5 {
  grid-area: ImgCalafate_5;
}

.ImgCalafate_6 {
  grid-area: ImgCalafate_6;
}

.ImgCalafate_7 {
  grid-area: ImgCalafate_7;
}

.ImgCalafate_8 {
  grid-area: ImgCalafate_8;
}

@media (max-width: 768px) {
  #containerGridCalafate {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 200px);
    grid-template-areas: "ImgCalafate1 ImgCalafate2" "ImgCalafate3 ImgCalafate4" "ImgCalafate5 ImgCalafate6" "ImgCalafate7 ImgCalafate8";
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  #containerGridCalafate {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 160px);
    grid-template-areas: "ImgCalafate1" "ImgCalafate2" "ImgCalafate3" "ImgCalafate4" "ImgCalafate5" "ImgCalafate6" "ImgCalafate7" "ImgCalafate8";
  }
}
@media (max-width: 768px) {
  .tamañoBox img {
    max-width: 80%;
  }
}
#footer {
  margin-top: auto;
  width: 100%;
  height: 150px;
  background-color: darkseagreen;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
}

.footerLogo {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  border-radius: 15%;
}

.footerLogo img {
  filter: drop-shadow(30px 10px 4px #44d);
}

.footerRedes {
  margin-inline: 5px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.footer__links ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(0, 0, 0);
}

.footer__links ul li:nth-child(3) a:active {
  color: blueviolet;
}

.footerContainer__redes {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .footerLogo {
    width: 60px;
    height: 60px;
  }
  .footerRedes {
    width: 40px;
    height: 40px;
    gap: 10px;
  }
  .footer__links ul li a {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  #footer {
    padding-top: 10px;
    flex-direction: column;
    height: auto;
    gap: 10px;
  }
  .footerLogo {
    width: 45px;
    height: 45px;
    flex-direction: column;
  }
  .footer__links ul li a {
    padding-right: 42px;
    font-size: 13px;
    flex-direction: column;
  }
  .footerRedes {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
