$color_7: rgba(21, 97, 203, 0.84);
$background-color_4: rgb(244, 244, 244);


#tituloTienda {
	h1 {
		color: $color_6;
		margin-top: 10px;
		font-size: 55px;
		text-align: center;
		font-family: $font-family_6;
	}
}
#containerGridCalafate2 {
	background-color: $background-color_4;
	padding-top: 10px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: "imgCalafate_1 imgCalafate_2 imgCalafate_3 imgCalafate_4" "imgCalafate_5 imgCalafate_6 imgCalafate_7 imgCalafate_8";
}
.tamañoBox2 {
	position: relative;
	h2 {
		position: absolute;
		font-size: 23px;
		margin-left: 23px;
		font-family: $font-family_6;
	}
	h3 {
		margin-top: 40px;
		font-size: 15px;
		margin-left: 23px;
		color: $color_6;
		font-family: $font-family_6;
	}
	img {
		border-radius: 15%;
		width: 80%;
		height: 80%;
		padding: 20px;
	}
}
.imgCalafate_1 {
	grid-area: imgCalafate_1;
}
.imgCalafate_2 {
	grid-area: imgCalafate_2;
}
.imgCalafate_3 {
	grid-area: imgCalafate_3;
}
.imgCalafate_4 {
	grid-area: imgCalafate_4;
}
.imgCalafate_5 {
	grid-area: imgCalafate_5;
}
.imgCalafate_6 {
	grid-area: imgCalafate_6;
}
.imgCalafate_7 {
	grid-area: imgCalafate_7;
}
.imgCalafate_8 {
	grid-area: imgCalafate_8;
}